/Assets/Firebase/Plugins/x86_64 filter=lfs diff=lfs merge=lfs -text
/Assets/Firebase/Plugins/x86_64/FirebaseCppApp-11_8_1.bundle filter=lfs diff=lfs merge=lfs -text
FirebaseCppApp-11_8_1.bundle filter=lfs diff=lfs merge=lfs -text
ys[[:space:]]1.unity filter=lfs diff=lfs merge=lfs -text
